@use '~typography.scss' as *;
@use '~colors.scss' as *;

.marketChart {
  display: flex;
  width: 20rem;
  height: 20rem;

  .text {
    display: flex;
    flex-direction: column;
    fill: $black;
    font-family: $font-family;
    font-size: 1.25rem;
    font-weight: 400;

    &.white {
      fill: $white;
    }
  }

  .largeCircle {
    fill: $primary-250;
  }

  .mediumCircle {
    fill: $primary-450;
  }

  .smallCircle {
    fill: $primary-600;
  }
}
