.authContainer {
  display: flex;
  justify-content: start;
  max-width: 100vw;
  height: 100vh;
  overflow-y: auto;

  .error {
    font-size: var(--h3-size);
    line-height: 1.5rem;
    color: var(--red-900-text-error);
  }

  .formSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    font-size: var(--display-md-semibold-size);
    color: var(--gray-900-text-primary);
    font-family: var(--text-sm-regular);
    overflow: scroll;

    .headerNavigation {
      flex: 1;
      height: 96px;
      align-items: center;
      padding: var(--padding-13xl);
      box-sizing: border-box;

      &,
      .logo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-self: stretch;
      }

      .logoIcon {
        position: relative;
        width: 130px;
        height: 26.9px;
        overflow: hidden;
        flex-shrink: 0;
      }

      .logo {
        flex: 1;
        align-items: flex-start;
      }
    }

    &,
    .form,
    .basicForm {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .form {
      justify-content: center;
      padding: 0 var(--padding-81xl);
      gap: var(--gap-13xl);

      .header {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--gap-base);

        &.h2 {
          .supportingText,
          .title {
            align-self: center !important;
            position: relative;
          }
        }

        .supportingText,
        .title {
          align-self: stretch;
          position: relative;
        }

        .title {
          letter-spacing: -0.02em;
          line-height: 2.75rem;
          font-weight: 500;
        }

        .supportingText {
          font-size: var(--h3-size);
          line-height: 1.5rem;
          color: var(--gray-600-text-secondary);
        }
      }

      .basicForm {
        justify-content: center;
        border-radius: var(--br-xs);
        gap: var(--gap-13xl);
        font-size: var(--text-sm-regular-size);
        color: var(--type-tertiary);
        margin-bottom: var(--gap-13xl);

        .inputGroup {
          display: flex;
          // width: 100%;
          // gap: var(--gap-13xl);
          align-self: stretch;

          input {
            align-self: stretch;

            min-width: 45% !important;
          }

          justify-content: space-between;
        }

        .row {
          align-self: stretch;
        }

        .row,
        .signUp {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 0 var(--padding-5xs);
        }
      }
    }

    .backArrow {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      color: var(--gray-600-text-secondary, #667085) !important;
      font-family: 'DM Sans';
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.25rem;
    }

    .link {
      font-family: 'DM Sans';
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.25rem;
    }

    button {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: var(--padding-3xs) var(--padding-base);
      align-self: stretch;
      align-items: center;
      justify-content: center;
      gap: var(--gap-xs);
    }
  }

  // TODO: hide into section on smaller screens
  .intoSection {
    flex: 1;
    background-color: var(--gray-200-row-header);
    overflow: hidden;
    // overflow-y: visible;
    gap: var(--gap-base);
    text-align: left;
    font-size: var(--display-sm-medium-size);
    color: var(--gray-900-text-primary);
    font-family: var(--text-sm-regular);

    height: 100vh;

    &,
    .screenMockupWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .quoteAndAttribution {
      width: 100%;
      flex-direction: column;
      padding: var(--padding-61xl) var(--padding-41xl) var(--padding-44xl);
      box-sizing: border-box;
      gap: var(--gap-5xl);
    }

    .screenMockupWrapper,
    .screenMockup {
      border-radius: var(--br-xs);
    }

    .screenMockupWrapper {
      margin-left: var(--padding-44xl);
      height: calc(900px);
      width: calc(1350px);
      position: relative;
      border: 6px solid var(--gray-900-text-primary);
      box-sizing: border-box;
    }

    .screenMockup {
      width: 1350px;
      height: 900px;
      overflow: hidden;
      object-fit: contain;
    }
    .starIcon {
      position: relative;
      width: 20px;
      height: 20px;
      overflow: hidden;
      flex-shrink: 0;
    }
    .stars {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      gap: var(--gap-11xs);

      svg {
        position: relative;
        width: 20px;
        height: 20px;
        overflow: hidden;
        flex-shrink: 0;
      }
    }
    .quote,
    .supportingText,
    .text {
      align-self: stretch;
      position: relative;
      line-height: 38px;
      font-weight: 500;
    }
    .supportingText,
    .text {
      line-height: 28px;
    }
    .supportingText {
      font-size: var(--h3-size);
      line-height: 24px;
      color: var(--gray-600-text-secondary);
    }
    .textAndSupportingText {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      svg {
        position: relative;
        width: 140px;
        height: 33px;
      }
    }

    .quoteAndAttribution,
    .textAndStars {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .textAndStars {
      align-self: stretch;
      flex-direction: row;
      gap: var(--gap-xs);
      font-size: var(--text-lg-semibold-size);
    }
  }

  .onboarding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    h1 {
      width: 35.9375rem;
      color: #2b3674;

      font-family: DM Sans;
      font-size: 2.25rem;
      font-style: normal;
      font-weight: 700;
      line-height: 3.25rem; /* 144.444% */
      letter-spacing: -0.045rem;
    }
  }
}

@media screen and (max-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media screen and (max-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media screen and (max-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

  .authContainer {
    .formSection .form {
      padding: var(--padding-41xl);

      .basicForm {
        .row,
        .signUp {
          gap: var(--gap-base);
          justify-content: center;
          flex-wrap: wrap;
        }
      }
    }
  }
}
@media screen and (max-width: 961px) {
}
@media screen and (max-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .authContainer {
    display: flex;
    flex-wrap: wrap;

    // overflow: auto;
    max-width: 100vw;

    .formSection {
      order: 2;
    }

    .intoSection,
    .onboarding {
      min-width: 1;
    }

    .formSection,
    .intoSection,
    .onboarding {
      min-width: 100vw;
    }

    .intoSection {
      height: fit-content;
      .quoteAndAttribution {
        width: 100%;
        flex-direction: column;
        padding: var(--padding-base);
        box-sizing: border-box;
        gap: var(--gap-5xl);
      }

      .screenMockupWrapper {
        display: none;
        // padding-left: var(--padding-base);
        height: fit-content;
      }
    }

    .formSection {
      overflow: visible;
    }
  }
}
@media screen and (max-width: 1281px) {
  /* hi-res laptops and desktops */
}
