.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  flex: 1 0 0;
  align-self: stretch;

  background: var(--gray-50-bg, #fcfcfd);

  .pageHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    align-self: stretch;
    img {
      display: flex;
      height: 15rem;
      width: 100%;
      justify-content: center;
      align-items: center;
      align-self: stretch;
    }

    .content {
      display: flex;
      padding: 0rem 2rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
      align-self: stretch;

      .header {
        display: flex;
        width: 70.5rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25rem;
        flex: 1 0 0;

        color: var(--gray-900-text-primary, #2b3674);
        /* Display sm/Semibold */
        font-size: 1.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2.375rem; /* 126.667% */
      }

      .contentContainer {
        display: flex;
        align-items: flex-start;
        gap: 1.5rem;
        align-self: stretch;

        .supportingText {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.5rem;
          // flex: 1 0 0;

          align-self: stretch;

          .title {
            color: var(--gray-900-text-primary, #2b3674) !important;
          }

          span {
            color: var(--gray-600-text-secondary, #667085);

            /* Text sm/Medium */
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25rem; /* 142.857% */

            align-self: stretch;
          }
        }

        .conceptOverview {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1.25rem;
          flex: 1 0 0;

          .overviewAndProposition {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
            align-self: stretch;

            h3,
            span {
              font-size: 1rem;
              font-style: normal;
              line-height: 1.5rem; /* 150% */
              align-self: stretch;
            }

            h3 {
              color: var(--gray-900-text-primary, #2b3674);
              /* Text md/Medium */
              font-weight: 500;
            }

            span {
              color: var(--gray-600-text-secondary, #667085);
              /* Text md/Regular */
              font-weight: 400;
            }
          }
        }

        .details {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2rem;
          // flex: 1 0 0;

          .detailContent {
            display: flex;
            align-items: flex-start;
            // justify-content: space-between;
            gap: 2rem;
            align-self: stretch;
            min-width: 150px;

            .supportingText {
              .text {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                transition: all 0.2s linear;
                white-space: nowrap;
                width: 150px;
                cursor: pointer;

                &:focus,
                &:hover {
                  color: transparent;
                }

                &:focus:after,
                &:hover:after {
                  content: attr(data-text);
                  overflow: visible;
                  text-overflow: inherit;
                  background: #fff;
                  position: absolute;
                  left: auto;
                  top: auto;
                  width: auto;
                  max-width: 20rem;
                  border: 1px solid #eaebec;
                  padding: 0 0.5rem;
                  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28);
                  white-space: normal;
                  word-wrap: break-word;
                  display: block;
                  color: black;
                  border-radius: var(--br-7xs);
                  margin-top: -1.25rem;
                }
              }
            }
          }
        }
      }
    }
  }

  .contentContainer {
    display: flex;
    padding: 0rem 2rem 2rem 2rem;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;

    flex-wrap: wrap;
    img {
      left: 0;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }

    .cardContentWrapper {
      // position: relative;
      display: flex;
      padding: 1.5rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      // flex: 1 0 0;
      align-self: stretch;

      .cardContent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25rem;
        align-self: stretch;

        .title,
        .text {
          align-self: stretch;
        }

        .title {
          color: var(--gray-900-text-primary, #2b3674);
          /* Text md/Medium */
          font-size: 1rem;
          font-style: normal;
          font-weight: 500;
          line-height: 1.5rem; /* 150% */
        }

        .text {
          color: var(--gray-600-text-secondary, #667085);
          /* Text sm/Regular */
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.25rem; /* 142.857% */
        }
      }
    }
  }
}
