.dashboard {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  flex: 1 0 0;
  align-self: stretch;

  .header {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;

    .avatar {
      display: flex;
      width: 3.875rem;
      height: 3.875rem;
      justify-content: center;
      align-items: center;

      border-radius: 4.84375rem;
      border: 1.55px solid var(--base-white, #fff);
      background: var(
        --avatar-company-logo-acme-group,
        --base-white 50% / cover no-repeat
      );
      box-shadow: 0px 1.55px 2.325px -0.775px rgba(16, 24, 40, 0.03),
        0px 4.65px 6.2px -1.55px rgba(16, 24, 40, 0.08);
    }

    .text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.25rem;
      flex: 1 0 0;

      color: var(--Type---Secondary, #80848f);
      /* B1 */
      font-family: var(--text-sm-regular);
      font-size: var(--text-sm-regular-size);
      font-style: normal;
      font-weight: 500;
      line-height: 1.25rem; /* 142.857% */

      h1 {
        color: var(--gray-900-text-primary, #2b3674);
        /* H1 */
        font-family: var(--text-sm-regular);
        font-size: 1.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.375rem; /* 126.667% */
      }
    }
  }

  section {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;
    height: fit-content;

    flex-wrap: wrap;

    .container {
      display: flex;
      height: fit-content;
      gap: 1.5rem;
    }
  }

  .companyInsights {
    justify-content: space-between;

    .companyGoal {
      display: flex;
      flex-grow: 2;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.25rem;
      max-width: 360px;

      h3 {
        color: var(--gray-900-text-primary, #2b3674);
        /* H2 */
        font-family: var(--text-sm-regular);
        font-size: var(--text-lg-semibold-size);
        font-style: normal;
        font-weight: 700;
        line-height: 1.75rem; /* 155.556% */
      }

      .goalText {
        height: 100%;

        color: var(--gray-600-text-secondary, #667085);
        /* Text md/Regular */
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem; /* 150% */
      }
    }

    .companyMetrics {
      justify-self: flex-end;
      justify-content: space-between;
    }

    .metrics {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;

      min-width: 300px;
    }

    .ignite {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
    }
  }
}
