@use '~colors.scss' as *;
@use '~typography.scss' as *;
@use '~variables.scss' as *;

.conceptOverview {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  width: calc(100vw - $nav-drawer-width);

  &.slideAnimation {
    background-size: cover;
    animation-name: page-slide-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  .headerSection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    margin-bottom: 2rem;

    .header {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;

      h1 {
        text-transform: capitalize;
        @include display-sm;
        color: $blue-900;
        height: 100%;
      }
      .statusSelect {
        display: flex;
        margin-left: 1rem;
      }
    }

    .actions {
      display: flex;
      gap: 1rem;
      .button {
        color: $white;
        font-family: $font-family;
        font-style: normal;
        font-weight: 700;
        white-space: nowrap;

        svg,
        use {
          path {
            stroke: $white;
          }
        }
      }
      .closeButton {
        border: none;
        background: none;
      }
    }
  }

  .contentContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
    align-self: stretch;
    height: 100%;
    width: calc(100vw - $nav-drawer-width - 4rem);

    flex-wrap: wrap;

    .tabs {
      height: 100%;
      width: 100%;
    }
  }
}

@keyframes page-slide-in {
  0% {
    transform: translateX(100%);
    opacity: 1;
    display: none;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
