@use 'src/app/assets/styles/typography.scss' as *;
@use 'src/app/assets/styles/colors.scss' as *;

.assumptionBadge {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .icon {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #dee7fc;
    &.blueIcon {
      background: #dee7fc;
      svg {
        path {
          stroke: #155eef;
        }
      }
    }
    &.redIcon {
      background: #fee4e2;
      svg {
        path {
          stroke: #f04438;
        }
      }
    }
    &.greenIcon {
      background: #d1fadf;
      svg {
        path {
          stroke: #0e9384;
        }
      }
    }
    &.yellowIcon {
      background: #fef0c7;
      svg {
        path {
          stroke: #f48e09;
        }
      }
    }
  }

  .status {
    text-align: center;
    white-space: nowrap;
    font-family: $dm-sans;
    color: $blue-900;
    @include text-medium;
    text-transform: capitalize;
  }
}
