@use 'src/app/assets/styles/typography.scss' as *;
@use 'src/app/assets/styles/colors.scss' as *;

.assumptionBadge {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .icon {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #dee7fc;
    &.purpleIcon {
      background: #ece9fe;
      svg {
        path {
          stroke: #7839ee;
        }
      }
    }
    &.lighBlueIcon {
      background: #cff9fe;
      svg {
        path {
          stroke: #088ab2;
        }
      }
    }
    &.greenIcon {
      background: #ccfbef;
      svg {
        path {
          stroke: #0e9384;
        }
      }
    }
    &.blueIcon {
      background: #d1e0ff;
      svg {
        path {
          stroke: #155eef;
        }
      }
    }
  }

  .status {
    text-align: center;
    white-space: nowrap;
    font-family: $dm-sans;
    color: $blue-900;
    @include text-medium;
    text-transform: capitalize;
  }
}
