@use '~typography.scss' as *;
@use '~colors.scss' as *;
@use '~variables.scss' as *;

.kanban {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  padding: 1.5rem;
  box-sizing: border-box;
  overflow-x: scroll;
  gap: 2rem;
  @apply aucctus-border-primary border #{!important};
  @apply aucctus-bg-primary;
  box-shadow: $shadow-100;

  .column {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .columnHeader {
      display: flex;
      padding: 0.5rem;
      box-sizing: border-box;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5rem;
      align-self: stretch;
      @apply aucctus-border-secondary border-b-2;
      .columnHeaderTitle {
        @apply aucctus-text-brand-primary #{!important};
        @include text-large;
        font-family: $font-family;
      }

      .columnHeaderCount {
        @apply aucctus-text-primary #{!important};
        font-family: $font-family;
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.75rem;
      }
    }
  }

  p {
    @apply aucctus-text-secondary #{!important};
    font-family: $font-family;
    margin: 0;
    @include text-medium;
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
    width: 100%;
    @apply aucctus-text-secondary #{!important};
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 0 0 0.75rem 0.75rem;
    @apply aucctus-bg-primary;
    box-shadow: $shadow-100;
    @apply aucctus-border-secondary border-b #{!important};
  }
}
