# App Configuration
NODE_ENV=development
ENVIRONMENT=development

VITE_AUCCTUS_BASE_RESOURCE_URL=http://localhost:8000
VITE_AUCCTUS_BASE_WS_URL=ws://localhost:8000


# Sentry
VITE_SENTRY_DNS=DNS
VITE_SECRET_KEY=a-random-secret-key
SENTRY_AUTH_TOKEN=sentry-auth-token



ALLOWED_HOSTS=http://localhost:5173


# Feature flags
FEATURE_CUSTOMER_PROFILE_CHAT=true
FEATURE_CONCEPT_VERSIONING=true
FEATURE_CUSTOMER_PROFILE_REAL_WORLD_SIGNALS=true
FEATURE_ASSUMPTIONS_V2=true
FEATURE_WATCHTOWER=true
FEATURE_VALUE_DISCOVERY=true

# Clerk
VITE_CLERK_PUBLISHABLE_KEY=pk_test_[key]
