@use '~typography.scss' as *;
@use '~colors.scss' as *;
@use '~variables.scss' as *;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease both;

  overflow-y: auto;

  margin: auto;

  padding: 3rem;

  cursor: pointer;

  .content {
    margin: auto;
    background: white;
    // padding: 20px;
    border-radius: $br-5xs;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-50px);
    animation: slideIn 0.3s ease both;
    cursor: default;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    backdrop-filter: blur(0);
  }
  50% {
    opacity: 0.5;
    backdrop-filter: blur(1.5px);
  }

  100% {
    opacity: 1;
    backdrop-filter: blur(3px);
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
