@use '~typography.scss' as *;
@use '~colors.scss' as *;
@use '~variables.scss' as *;

.assumptionBadge {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .icon {
    display: flex;
    height: 2rem;
    width: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #dee7fc;

    &.lightBlueIcon {
      background: #cff9fe;
      svg,
      use {
        path {
          stroke: #088ab2;
        }
      }
    }

    &.blueIcon {
      background: #d1e0ff;
      svg,
      use {
        path {
          stroke: #155eef;
        }
      }
    }
  }

  .status {
    text-align: center;
    white-space: nowrap;
    font-family: $font-family;
    color: $blue-900;
    @include body-100;
    text-transform: capitalize;
  }
}
