@use '~colors.scss' as *;
@use '~typography.scss' as *;
@use '~variables.scss' as *;

.tab {
  display: flex;
  position: relative;
  height: 2rem;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  padding-right: 1.5rem;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: none;
  flex-shrink: 0;
  white-space: nowrap;
  border-bottom: 1px solid;
  @apply aucctus-border-secondary;

  .label {
    font-size: 1rem;
    font-weight: 900;
    margin-right: 3%;
    height: 100%;
    box-sizing: border-box;
    font-family: $font-family;
    @include body-200;
    font-weight: 700;
    @apply aucctus-text-tertiary-hover;
    &.active {
      font-family: $font-family;
      @include body-200;
      font-weight: 700;
      border-bottom: 2px solid;
      @apply aucctus-border-brand-alt;
      @apply aucctus-text-brand-primary;
    }
  }
}

.tabButton {
  display: flex;
  position: relative;
  height: 2rem;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  white-space: nowrap;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  @apply aucctus-bg-primary #{!important};
  @apply aucctus-border-secondary border-r;

  box-shadow: $shadow-100;

  &:first-child {
    border-radius: 0.5rem 0 0 0.5rem;
    border-right: none;
    @apply aucctus-border-secondary border-l #{!important};
  }
  &:last-child {
    border-radius: 0 0.5rem 0.5rem 0;
    @apply aucctus-border-secondary border-r #{!important};
  }

  &.active {
    @apply bg-primary-25 #{!important};
  }

  .label {
    @apply aucctus-text-brand-tertiary aucctus-text-sm-bold;

    font-weight: 900;
    margin-right: 3%;
    font-family: $font-family;
    font-weight: 600;
    &.active {
      font-family: $font-family;
      font-weight: 700;
    }
    &:hover,
    .a {
      font-weight: 700;
    }
  }
}

.tabButtonSeparated {
  display: flex;
  position: relative;
  height: 2rem;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  white-space: nowrap;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  @apply aucctus-bg-primary;
  @apply aucctus-border-primary;

  &.active {
    @apply aucctus-bg-secondary #{!important};
  }

  .label {
    @apply aucctus-text-secondary;
    font-size: 1rem;
    font-weight: 900;
    margin-right: 3%;
    font-family: $font-family;
    @include body-200;
    font-weight: 600;
    &.active {
      font-family: $font-family;
      @include body-200;
      font-weight: 700;
    }
    &:hover,
    .a {
      font-weight: 700;
    }
  }
}
