@use '~colors.scss' as *;
@use '~typography.scss' as *;
@use '~variables.scss' as *;

.tabView {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  align-self: stretch;
  align-items: center;

  .tabContainer {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $padding-base $padding-5xs;
    overflow-x: scroll;

    .tabs,
    .actionButtons {
      display: flex;
      align-items: center;
    }

    .tabs {
      justify-content: flex-start;
      list-style: none;
      padding-left: 0;
    }

    .actionButtons {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      margin-left: 1rem;
      margin-right: 0.5rem;
    }
  }

  .content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
