@use '~typography.scss' as *;
@use '~colors.scss' as *;
@use '~variables.scss' as *;

.conceptCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  box-sizing: border-box;
  @apply aucctus-border-secondary border-2;
  border-radius: 0.75rem;
  width: 16rem;
  @apply aucctus-bg-primary;

  .conceptCardContent {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    box-sizing: border-box;
    .cardTitle {
      @apply aucctus-text-primary #{!important};
      font-family: $font-family;
      font-size: 0.6rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.25rem;
    }

    .cardDescription {
      @apply aucctus-text-secondary #{!important};
      font-family: $font-family;
      margin: 0;
      @include text-medium;
      overflow: hidden;
      @apply aucctus-text-secondary #{!important};
      text-overflow: ellipsis;
      font-family: $font-family;
      font-size: 0.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.25rem;

      &.descriptionOverflow {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .cardModified {
      overflow: hidden;
      @apply aucctus-text-secondary #{!important};
      text-overflow: ellipsis;
      font-family: $font-family;
      font-size: 0.6rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.25rem;
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @apply aucctus-text-secondary #{!important};
    padding: 1rem;
    gap: 0.5rem;
    box-sizing: border-box;
    border-radius: 0 0 0.75rem 0.75rem;
    @apply aucctus-bg-primary;
    box-shadow: $shadow-100;
    @apply aucctus-border-secondary border-t;

    .owner {
      display: flex;
      flex-direction: column;
      align-self: stretch;

      .ownerText {
        font-family: $font-family;
        font-size: 0.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
      }
    }

    .cardButton {
      padding: 4px 0.75rem;
      gap: 0.75rem;
      border-radius: 0.5rem;
    }
  }
}
