@use '~typography.scss' as *;
@use '~colors.scss' as *;

.rowInfo {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  gap: 1.5rem;
  padding: 1rem 0;
  box-sizing: border-box;
  border-bottom: 1px solid $grey-200;

  &:last-child {
    border-bottom: none;
    // add padding in case of select dropdown requiring more space
  }

  .rowInfoDescription {
    display: flex;
    flex-direction: column;
    width: 15rem;
    .rowInfoTitle {
      display: flex;
      justify-content: flex-start;
      align-self: stretch;
      color: var(--gray-700, #344054);
      gap: 0.5rem;
      @include text-small;
      font-family: $font-family;
      font-weight: 600;
    }
    .rowInfoSublabel {
      display: flex;
      @include text-small;
      font-weight: 400;
      color: var(--gray-600-text-tertiary, #475467);
    }
  }
}
