@use '~colors.scss' as *;
@use '~variables.scss' as *;
@use '~typography.scss' as *;

.container {
  position: relative;
  .tooltip {
    position: absolute;
    display: flex;
    border-radius: 4px;
    padding: 0.5rem;
    font-family: 'Inter';
    font-weight: 600;
    color: #312e81;
    background: #f4f7fe;
    font-size: 14px;
    font-family: sans-serif;
    text-align: center;
    line-height: 1;
    width: max-content;
    max-width: 15rem;
    z-index: 1000;
    height: 2rem;
    max-height: 2rem;
    box-shadow: $shadow-100;

    &::before {
      content: '';
      border: solid transparent;
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-width: 0.5rem;
      top: 100%;
      left: 45%;
      border-top-color: #f4f7fe;
    }

    &.inActive {
      display: none !important;
    }
  }
}
