@use '../../../assets/styles/colors.scss' as *;
@use '../../../assets/styles/typography.scss' as *;
@use '../../../assets/styles/variables.scss' as *;

.container {
  transition: all 0.3s ease;
  border-radius: 6px;
  width: 100%;
  position: relative;

  &.editOff {
    cursor: url('~pencil.png'), pointer;

    &:hover {
      background-color: $white;
      box-shadow: $shadow-100;
      padding: 0.5rem;
    }
  }

  .editContainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    .editActions {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: flex-end;
      position: absolute;
      right: 0.5rem;
      top: 0.75rem;

      .editButton {
        z-index: 100;
        max-height: 2rem;
        padding: 0.75rem 0.5rem;

        svg,
        use {
          height: 20px !important;
          width: 20px !important;
        }
      }
    }

    .inputField {
      padding-right: 3rem;
      padding-bottom: 1.2rem;
    }
  }
}

.inputField {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  box-sizing: border-box; // For better box sizing
}
