@use 'src/app/assets/styles/typography.scss' as *;
@use 'src/app/assets/styles/colors.scss' as *;

.conceptStatistic {
  display: flex;
  padding: 2px 0.5rem 2px 0.5rem;
  box-sizing: border-box;
  align-items: center;
  border-radius: 1rem;
  gap: 1rem;
  flex: 1 0 auto;

  &.opportunityStatistic {
    border: 1px solid $grey-200;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
  }

  .conceptIcon {
    border-radius: 50%;
    background: #e0f2fe;
    display: flex;
    width: 3rem;
    height: 3rem;
    padding: 0.75rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    &.lightblueIcon {
      background: #e0f2fe;
      svg,
      use {
        path {
          stroke: #155eef;
        }
      }
    }
    &.blueIcon {
      background: #d1e0ff;
      svg,
      use {
        path {
          stroke: #155eef;
        }
      }
    }
    &.purpleIcon {
      background: #ece9fe;
      svg,
      use {
        path {
          stroke: $primary-600;
        }
      }
    }
  }

  .conceptInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .conceptInfoTitle {
      color: $grey-600;
      @include text-medium;
      font-family: $font-family;
    }

    .conceptData {
      display: flex;
      color: $blue-900;
      font-family: $font-family;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 500;
      gap: 0.5rem;

      .conceptDataNumber {
        display: flex;
        align-items: flex-start;
        line-height: 1.5rem;
      }

      .conceptDataInfo {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        color: $grey-600;
        font-family: $font-family;
        @include text-small;
        line-height: 1rem;
      }
    }
  }
}
