@use '~colors.scss' as *;
@use '~typography.scss' as *;
@use '~variables.scss' as *;

// Array of Tuple for button colors: (background-color, text-color)
$btn-colors: (
  primary: (
    $primary-600,
    $white,
  ),

  primary-light: (
    $primary-50,
    $primary-600,
  ),
  light: (
    $white,
    $grey-600,
  ),
  light-primary: (
    $white,
    $primary-600,
  ),
  secondary: (
    $primary-50,
    $primary-600,
  ),
  success: (
    $success-green-500,
    $green-50,
  ),
  danger: (
    $red-700,
    $red-50,
  ),
  warning: (
    $warning-orange-500,
    $white,
  ),
  info: (
    $grey-800,
    $white,
  ),
  disabled: (
    $grey-500,
    $white,
  ),
);

// Button base styles
.btn {
  display: flex;
  gap: 0.5rem;
  padding: 0.625rem 1.125rem;
  justify-content: center;
  align-items: center;
  text-align: center;

  box-shadow: $shadow-100;

  border-radius: 6px;

  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;

  &.btn-bold {
    font-weight: 700;
  }

  &.btn-no-border,
  &.btn-link {
    box-shadow: none !important;
    border: none !important;
  }

  // Extra Small button size
  &.btn-xs {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;

    svg {
      width: 0.75rem;
      height: 0.75rem;
    }
  }

  // Small button size
  &.btn-sm {
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;

    svg {
      width: 0.875rem;
      height: 0.875rem;
    }
  }

  &.btn-md {
    padding: 0.5rem 1rem; // Adjust padding for medium size
    font-size: 1rem; // Adjust font size for medium size

    svg {
      width: 1rem; // Adjust SVG size for medium size
      height: 1rem; // Adjust SVG size for medium size
    }
  }

  // Large button size
  &.btn-lg {
    padding: 0.875rem 1.5rem;
    font-size: 1.25rem;
    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}

// Generating button styles for each color
@each $color, $value in $btn-colors {
  $btn-background: nth($value, 1);
  $btn-text: nth($value, 2);

  .btn-#{$color} {
    background-color: $btn-background !important;
    border-color: darken($btn-background, 5%) !important;
    color: $btn-text !important;

    svg,
    use,
    path {
      stroke: $btn-text !important;
    }

    &:hover {
      background-color: darken($btn-background, 10%) !important;
      border-color: darken($btn-background, 15%) !important;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: darken($btn-background, 5%) !important;
      // border-color: darken($btn-background, 5%) !important;
    }

    &.btn-no-hover {
      background-color: $btn-background !important;
      border-color: darken($btn-background, 5%) !important;
    }
  }
}
