@use '~colors.scss' as *;
@use '~typography.scss' as *;
@use '~variables.scss' as *;

// Array of Tuple for button colors: (background-color, text-color)
$btn-colors: (
  primary: (
    aucctus-bg-primary-solid-alt,
    aucctus-text-white,
  ),
  primary-light: (
    aucctus-bg-brand-primary,
    aucctus-text-brand-tertiary,
  ),
  light: (
    aucctus-bg-primary,
    aucctus-text-secondary,
  ),
  grey: (
    aucctus-bg-secondary,
    aucctus-text-primary,
  ),
  secondary: (
    aucctus-bg-brand-primary,
    aucctus-text-brand-tertiary,
  ),
  success: (
    aucctus-bg-success-solid,
    aucctus-text-white,
  ),
  danger: (
    aucctus-bg-error-solid,
    aucctus-text-white,
  ),
  warning: (
    aucctus-bg-warning-solid,
    aucctus-text-white,
  ),
  info: (
    aucctus-bg-secondary-solid,
    aucctus-text-white,
  ),
  disabled: (
    aucctus-bg-disabled,
    aucctus-text-disabled,
  ),
);

// Button base styles
.btn {
  display: flex;
  gap: 0.5rem;
  padding: 0.625rem 1.125rem;
  justify-content: center;
  align-items: center;
  text-align: center;

  border: 1px solid rgba(20, 20, 20, 0.1);

  box-shadow:
    0px 2px 6px rgba(0, 0, 0, 0.05),
    // soft box-shadow bottom
    0px 1px 0px 0px rgba(255, 255, 255, 0.2) inset,
    // top
    0px -1.5px 0px 0px rgba(20, 20, 20, 0.07) inset; // bottom

  border-radius: 6px;

  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;

  &.btn-bold {
    font-weight: 700;
  }

  &.btn-no-border,
  &.btn-link {
    box-shadow: none !important;
    border: none !important;
  }

  // Extra Small button size
  &.btn-xs {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;

    svg {
      width: 0.75rem;
      height: 0.75rem;
    }
  }

  // Small button size
  &.btn-sm {
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;

    svg {
      width: 0.875rem;
      height: 0.875rem;
    }
  }

  &.btn-md {
    padding: 0.5rem 1rem; // Adjust padding for medium size
    font-size: 1rem; // Adjust font size for medium size

    svg {
      width: 1rem; // Adjust SVG size for medium size
      height: 1rem; // Adjust SVG size for medium size
    }
  }

  // Large button size
  &.btn-lg {
    padding: 0.875rem 1.5rem;
    font-size: 1.25rem;
    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &:disabled {
    @apply aucctus-bg-disabled aucctus-text-disabled;
    cursor: not-allowed;
    box-shadow: none !important;
  }
}

// Generating button styles for each color
@each $color, $value in $btn-colors {
  $bg-class: nth($value, 1);
  $text-class: nth($value, 2);

  .btn-#{'' + $color} {
    @apply #{$bg-class} #{$text-class};

    &:disabled {
      @apply aucctus-bg-disabled aucctus-text-disabled aucctus-border-disabled;
    }

    &:hover:not(:disabled) {
      @apply #{$bg-class}-hover;
    }

    &.btn-no-hover {
      @apply #{$bg-class};
    }
  }
}
