$white: #ffffff !default;
$black: #000000 !default;

$grey-200: #f9fafb !default;
$grey-300: #e0e5f2 !default;
$grey-500: #7586a9 !default;
$grey-600: #667085 !default;
$grey-700: #626ba3 !default;
$grey-800: #344054 !default;

$red-50: #fef3f2 !default;
$red-500: #f04438 !default;
$red-700: #b42318 !default;

$blue-50: #f4f7fe !default;
$blue-600: #4318ff !default;
$blue-900: #2b3674 !default;

$gray-blue-50: #f8f9fc !default;
$gray-blue-500: #4e5ba6 !default;
$gray-blue-700: #363f72 !default;

$green-50: #ecfdf3 !default;
$green-500: #12b76a !default;
$green-700: #027a48 !default;

$orange-50: #fef3f2 !default;
$orange-500: #ffbf70 !default;

$blue-0: #f5f8fb !default;
$blue-100: #a0f7fd !default;
$blue-300: #91c6e5 !default;
$blue-500: #00b5f7 !default;
$blue-900: #05367f !default;

$pink-50: #fdf2fa !default;
$pink-500: #ee46bc !default;
$pink-700: #c11574 !default;

$purple-50: #f4f3ff !default;
$purple-200: #c9bdff !default;
$purple-400: #937bff !default;
$purple-500: #7a5af8 !default;
$purple-700: #5925dc !default;
