@use './aucctus-theme/typography/text.scss' as *;

$font-family: 'Inter', 'DM Sans', sans-serif;

@mixin heading-100 {
  font-size: 1.875rem;
  font-family: $font-family;
  font-weight: 700;
  line-height: 125%;
}

@mixin heading-200 {
  font-size: 1.125rem;
  font-family: $font-family;
  font-weight: 700;
  line-height: 1.75rem;
}

@mixin body-100 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
}

@mixin body-200 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

@mixin text-x-small {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
}

@mixin text-small {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

@mixin text-medium {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
@mixin text-large {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
}

@mixin display-sm {
  font-family: $font-family;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5rem;
}
