.customerProfile {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-self: stretch;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;

  .tabs {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
  }
}
