.currencyDollarIcon,
.keyIcon,
.mailIcon,
.starIcon {
  position: relative;
  width: 28px;
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
}
.keyIcon,
.mailIcon,
.starIcon {
  width: 29px;
  height: 29px;
}
.mailIcon,
.starIcon {
  width: 31.33px;
  height: 26.67px;
}
.starIcon {
  width: 24px;
  height: 24px;
}
.green {
  border-radius: var(--br-9xl);
  background-color: var(--color-honeydew-100);
  border: 10px solid var(--success-50);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.keyIcon1 {
  position: relative;
  width: 29px;
  height: 29px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.checkCircleIcon1,
.currencyDollarIcon1,
.mailIcon1,
.starIcon1 {
  position: relative;
  width: 28px;
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.checkCircleIcon1,
.mailIcon1,
.starIcon1 {
  width: 31.33px;
  height: 26.67px;
}
.checkCircleIcon1,
.starIcon1 {
  width: 24px;
  height: 24px;
}
.checkCircleIcon1 {
  width: 31.33px;
  height: 31.33px;
}
.iconBubble,
.purple {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.purple {
  border-radius: var(--br-9xl);
  background-color: var(--primary-100);
  border: 10px solid var(--secondary);
  flex-direction: column;
  padding: var(--padding-3xs);
}
.iconBubble {
  height: 56px;
  flex-direction: row;
}
