@use 'src/app/assets/styles/typography.scss' as *;
@use 'src/app/assets/styles/colors.scss' as *;
@use 'src/app/assets/styles/variables.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;

  border-radius: 12px;
  background: $white;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    align-self: stretch;
    padding: 1rem;
    position: relative;

    margin-left: -1rem;
    margin-right: -1rem;

    border-bottom: 1px solid $grey-200-outline;

    h1 {
      @include heading-200;
      color: $grey-900-text-primary;
      text-align: center;
      text-overflow: wrap;
    }

    .closeButton {
      position: absolute;
      top: -0.5rem;
      right: 0.5rem;
      @include close-button;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    align-self: stretch;
  }

  .actions {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-self: stretch;
    width: 100%;

    button {
      width: max-content;
      min-width: 8rem;
    }
    // @include button-row;
  }
}
