.container {
  display: inline-flex;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  border-radius: 0.75rem;
  border: 1px solid var(--Grey---300, #e0e5f2);
  background: var(--base-white, #fff);

  box-shadow: var(--shadow-xs);
}
