.igniteBox {
  display: flex;
  padding: var(--padding-5xl);
  justify-content: center;
  align-items: center;
  gap: var(--gap-5xs);
  flex: 1 0 0;
  align-self: stretch;

  min-width: 365px;

  border-radius: 0.75rem;
  border: 1px solid var(--gray-300-outline, #e0e5f2);
  background: var(--base-white, #fff);

  box-shadow: var(--shadow-xs);

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    flex: 1 0 0;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    color: var(--gray-600-text-secondary, #667085);
    /* Text sm/Regular */
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem; /* 142.857% */
  }

  .title {
    color: var(--gray-900-text-primary, #2b3674);
  }

  .title,
  button,
  .content {
    font-family: var(--text-sm-regular);
    font-style: normal;
  }

  .title,
  button {
    /* Text md/Semibold */
    font-family: var(--text-sm-regular);
    font-size: var(--text-sm-regular-size);
    font-weight: 500;
    line-height: 1.5rem; /* 150% */
  }
}
