.nestedLink {
  display: flex;
  padding: 0.5rem 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  margin-top: var(--base-gap);
  width: 100%;
  max-width: 215px;

  display: flex;
  align-items: center;
  gap: 0.75rem;

  flex: 1 0 0;

  border-radius: 0.375rem;
  span {
    padding-left: 2.25rem;

    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;

    color: var(--type-tertiary, #626ba3);
    /* H3 */
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem; /* 150% */
  }

  &.locked {
    span {
      max-width: 156px;
    }
  }

  &.active {
    background: var(--secondary, #f4f7fe) !important;

    span {
      color: var(--gray-900, #101828);
    }
  }
}
