@use '~typography.scss' as *;
@use '~colors.scss' as *;
@use '~variables.scss' as *;

.introSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  background-color: $grey-200;
  overflow: hidden;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--display-sm-medium-size);
  color: var(--gray-900-text-primary);
  font-family: $font-family;

  width: 100vw;
  height: 100vw;
  max-height: 100vh;
}
