@use 'src/app/assets/styles/typography.scss' as *;
@use 'src/app/assets/styles/colors.scss' as *;
@use 'src/app/assets/styles/shadows.scss' as *;

.introSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  background-color: var(--gray-200-row-header);
  overflow: hidden;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--display-sm-medium-size);
  color: var(--gray-900-text-primary);
  font-family: $font-family;

  width: 100vw;
  height: 100vw;
  max-height: 100vh;
}
