@use '~typography.scss' as *;
@use '~colors.scss' as *;
@use '~variables.scss' as *;

.onboardingMessage {
  display: flex;
  width: 35.9375rem;
  padding: 1rem;
  align-items: flex-start;
  gap: 1rem;

  border-radius: 0.75rem;
  border: 1px solid var(--gray-300-outline, #e0e5f2);
  background: var(--base-white, #fff);

  .message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.125rem;
    flex: 1 0 0;

    .title,
    .description {
      align-self: stretch;
    }

    .title {
      color: var(--gray-700-text-tertiary, #626ba3);
      /* Text md/Medium */
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.5rem; /* 150% */
    }

    .description {
      color: $grey-600;
      /* Text md/Regular */
      font-family: DM Sans;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5rem; /* 150% */
    }
  }
}
