.tabs {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  .content {
    display: flex;
    overflow: hidden;
    height: 100%;
  }
}
