@use '~typography.scss' as *;
@use '~colors.scss' as *;
@use '~variables.scss' as *;

.container {
  position: relative;
  display: flex;
  max-width: 400px;
  width: 400px;
  flex-direction: column;
  align-items: center;
  // align-self: stretch;
  gap: 1rem;

  .header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0rem;

    .generate {
      display: flex;
      @include text-medium;
      color: $blue-900;
      background: none;
      border: none;

      align-items: center;
      align-content: center;
      text-align: left;
      svg,
      use,
      path {
        stroke: $blue-900 !important;
      }

      cursor: pointer;

      &:hover {
        font-weight: 500;
      }
    }
  }
  .actions {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: center;
    gap: 1rem;

    button {
      width: 50%;
    }
  }
}

// ProfileListItem
.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 350px;
  padding: $padding-5xs $padding-base;

  border-radius: $br-5xs;

  transition: all 0.3s ease-in-out;

  .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $gap-xs;

    img {
      height: 3rem;
      justify-content: center;
      @include rounded-image;
    }
    .profileName {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 200px;
      width: 200px;

      span,
      p {
        text-align: left !important;
        white-space: nowrap; // Keeps the text in a single line
        overflow: hidden; // Hides overflow
        text-overflow: ellipsis; // Adds ellipsis to the overflow
        max-width: 200px;
      }

      span {
        @include heading-300;
        color: $grey-600;
        font-size: 14px;
      }

      p {
        @include body-200;
        color: $blue-900;
      }
    }
  }

  .remove {
    background: none;
    border: none;

    color: $red-700;

    &:disabled {
      text-decoration: line-through;
    }

    &:hover:not(:disabled) {
      font-weight: 500 !important;
    }
  }
}

.confirm {
  position: absolute;
  background-color: white;
  border-radius: $br-5xs;
  width: 125%;

  top: 15%;

  box-shadow: $shadow-3xl;
}
