@use 'src/app/assets/styles/colors.scss' as *;
@use 'src/app/assets/styles/typography.scss' as *;
@use 'src/app/assets/styles/variables.scss' as *;
@use 'src/app/assets/styles/variables.scss' as *;

.cardLeftStyle {
  h4 {
    color: $blue-900;
    @include heading-300;
  }

  @include edit-cursor;
}

.cardLeftContent {
  display: flex;
  min-height: 4rem;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
  color: $blue-900;

  .cardBoldText {
    font-family: $font-family;
    color: $grey-600;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .cardRegularText {
    @include text-medium;
    font-family: $font-family;
    color: $grey-600;
  }
}
