@use '~colors.scss' as *;
@use '~typography.scss' as *;
@use '~variables.scss' as *;

.container {
  position: fixed;
  display: block;
  z-index: 1;
}

.container,
.navDrawer,
.wrapper {
  height: 100vh;
  width: var(--nav-drawer-width) !important;
  min-width: var(--nav-drawer-width) !important;
}

.wrapper {
  position: fixed;
}

.navDrawer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  padding-top: 2.25rem;

  height: 100vh;
  gap: 1rem;
  flex-shrink: 0;

  border-right: 1px solid var(--gray-300-outline, #e0e5f2);
  background: var(--base-white, #fff);

  .header {
    display: flex;
    height: 2.625rem;
    padding: 0rem 1rem 0.75rem 2.25rem;
    align-items: center;
    gap: 2rem;
    flex-shrink: 0;
    align-self: stretch;

    cursor: pointer;
  }

  .content {
    display: flex;
    padding: 0rem 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 0 0;
    align-self: stretch;
  }

  .extras {
    display: flex;
    padding: 0rem 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
  }
  .navLinkWrapper,
  .account {
    cursor: pointer;
  }

  .account {
    display: flex;
    padding: 1.5rem 0.75rem;
    width: var(--nav-drawer-width);
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    align-self: stretch;

    border-top: 1px solid var(--gray-300-outline, #e0e5f2);

    .avatar,
    svg,
    use {
      display: flex;
      width: 2.5rem;
      height: 2.5rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      border-radius: 12.5rem;
    }

    .userDetails {
      display: flex;
      max-width: 75%;
      flex-direction: column;
      align-items: flex-start;

      span {
        color: var(--gray-700-text-tertiary, #626ba3);
        /* Text sm/Semibold */
        font-family: $font-family;
        max-width: 100%;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem; /* 142.857% */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .content,
  .extras {
    .navLinkWrapper {
      display: flex;
      padding: 0.5rem 0.75rem;
      align-items: center;
      flex-direction: column;
      align-self: stretch;
      border-radius: 0.375rem;
      background: var(--base-white, #fff);
      transition: all 0.3s ease-in-out;
      width: 100%;

      .navLink {
        display: flex;
        padding-left: 0.5rem;
        box-sizing: border-box;
        align-items: center;
        height: 2.5rem;
        transition: all 0.3s ease-in-out;

        &.active,
        &:hover {
          background: var(--secondary, #f4f7fe);

          span {
            color: var(--gray-900, #101828);
          }
        }
      }

      a {
        transition: all 0.3s ease-in-out;
        display: flex;
        width: 100%;
        gap: var(--gap-5xs);

        border-radius: 0.375rem;
        background: var(--base-white, #fff);
      }

      .label {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        flex: 1 0 0;
        span {
          color: var(--type-tertiary, #626ba3);
          /* H3 */
          font-family: $font-family;
          font-size: 1rem;
          font-style: normal;
          font-weight: 700;
          line-height: 1.5rem; /* 150% */
        }
      }

      &:hover {
        svg,
        use {
          stroke: $grey-600;
        }
      }

      // Hover Effect when Nav Item is locked

      &.locked,
      &.locked a {
        cursor: not-allowed;
        &:hover {
          box-shadow: none !important;
        }
      }
      &.locked:hover {
        box-shadow: none !important;
      }
    }
  }
}
