@use '~colors.scss' as *;
@use '~typography.scss' as *;
@use '~variables.scss' as *;

.aboutDetails {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-self: stretch;
  height: 100%;
  width: 100%;

  .inputGroup {
    display: flex;
    gap: 1rem;
    flex: 1 1 auto;

    .avatar {
      width: 4rem;
      height: 4rem;
    }
  }

  h3 {
    @include heading-200;
    color: $grey-900;
  }

  .headerSection {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    margin-bottom: 2rem;

    .headerActions {
      gap: 0.5rem;
      display: flex;
    }

    .headerDescription {
      display: flex;
      flex-direction: column;
      .headerSubtitle {
        overflow: hidden;
        color: var(--colors-text-text-tertiary-600, #475467);
        text-overflow: ellipsis;
        @include text-small;
        font-family: $font-family;
      }
    }
  }
}
