@use 'src/app/assets/styles/colors.scss' as *;
@use 'src/app/assets/styles/typography.scss' as *;
@use 'src/app/assets/styles/shadows.scss' as *;

.securityDetails {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-self: stretch;
  height: 100%;
  width: 100%;

  .inputGroup {
    display: flex;
    gap: 1rem;
    flex: 1 1 auto;
  }

  h3 {
    @include heading-200;
    color: $grey-900;
  }

  .headerSection {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    margin-bottom: 2rem;

    .headerDescription {
      display: flex;
      flex-direction: column;
      .headerSubtitle {
        overflow: hidden;
        color: var(--colors-text-text-tertiary-600, #475467);
        text-overflow: ellipsis;
        @include text-small;
        font-family: $dm-sans;
      }
    }
  }

  .securityActions {
    margin-top: 1rem;
    align-self: stretch;
    gap: 0.5rem;
    display: flex;
    justify-content: flex-end;
  }
}
