@use '~colors.scss' as *;
@use '~typography.scss' as *;
@use '~variables.scss' as *;

.customerCards {
  max-width: 19rem;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  .footer {
    gap: 0.5rem;
  }

  span {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    min-height: 4rem;
    width: 100%;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    @apply aucctus-border-secondary border-b;

    @include edit-cursor;

    &:last-child {
      border-bottom: none;
    }

    p {
      @include body-100;
      @apply aucctus-text-secondary;
    }

    button {
      max-height: 2rem;
      padding: 0.75rem 0.5rem;
    }
  }
}
