@use 'src/app/assets/styles/typography.scss' as *;
@use 'src/app/assets/styles/colors.scss' as *;

.conceptMenu {
  position: absolute;
  left: -1rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 2px 0.5rem 2px 0.4rem;
  width: 15rem;
  align-items: flex-start;
  border-radius: 0.5rem;
  border: 1px solid $grey-300;
  background: $white;

  .button {
    display: flex;
    padding: 0.8rem 0.5rem;
    align-items: center;
    width: 100%;
    border: none;
    background: none;
    flex: 1 0 0;
    font-family: $dm-sans;
    font-weight: 500;
    color: $gray-blue-700;
  }
}
