@use '~colors.scss' as *;
@use '~typography.scss' as *;
@use '~variables.scss' as *;

.customerDetails {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
  align-self: stretch;
  height: 100%;
  width: 100%;

  h2 {
    color: $blue-900;
    @include heading-200;
  }

  p {
    color: $grey-600;
    font-family: $font-family;
    margin: 0;
    @include text-medium;
  }

  .avatarSection {
    display: flex;
    margin-top: 2rem;
    min-height: 3rem;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;

    .avatar {
      display: flex;
      width: 5.5rem;
      height: 5.5rem;
      justify-content: center;
      align-items: center;
      border: 1px solid $white;
      border-radius: 50%;
    }

    .avatarDetails {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .description {
        color: $blue-900;
        font-family: $font-family;
        font-size: 1.125rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
      }

      .name {
        color: $blue-900;
        @include heading-100;
      }
    }
  }

  .summary {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 1rem;
    justify-content: flex-start;
    width: 100%;
    gap: 2rem;
    flex-wrap: wrap;

    .detailBlock {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: 0rem;
    }

    .leftColumn {
      display: flex;
      width: 40rem;
      flex-direction: column;
    }

    .rightColumn {
      display: flex;
      max-width: 30%;
      flex-direction: column;
      justify-content: flex-start;
    }
    .listSection {
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      align-self: stretch;
    }
  }

  .cardContainer {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
}
