@use 'src/app/assets/styles/colors.scss' as *;
@use 'src/app/assets/styles/typography.scss' as *;
@use 'src/app/assets/styles/variables.scss' as *;

.generatedConcepts {
  display: flex;
  padding: 2rem 2rem 3rem 2rem;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .headerSection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    margin-bottom: 2rem;

    .header {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;

      h1 {
        color: var(--type-tertiary, #2b3674);
        text-transform: capitalize;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        font-family: $font-family;
        height: 100%;
      }

      span {
        color: $grey-600;
        @include body-100;
      }
    }

    .actions {
      .button {
        color: $white;
        font-family: $font-family;
        font-style: normal;
        font-weight: 700;

        svg,
        use {
          path {
            stroke: $white;
          }
        }
      }
    }
  }

  .content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;

    table {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      table-layout: fixed;
      width: 100%;
      border-radius: 0.75rem 0.75rem 0 0;
      border: 1px solid var(--gray-300-outline, #e0e5f2);
      border-bottom: none;
      background: $white;
      box-shadow: $shadow-100;

      th {
        color: $grey-600;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        overflow: hidden;
        line-height: 1.25rem;
      }

      thead {
        display: flex;
        width: 100%;
        padding: 0.75rem 1.5rem;
        box-sizing: border-box;
        align-items: center;
        border-radius: 0.75rem 0.75rem 0 0;
        border-bottom: 1px solid var(--gray-300-outline, #e0e5f2);
        background: var(--gray-50-bg, #fcfcfd);

        color: $grey-600;
        font-family: $font-family;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500;

        tr {
          display: flex;
          width: 100%;
          box-sizing: border-box;
          align-items: flex-start;
        }
      }

      tbody {
        width: 100%;
        max-height: 50rem;
        overflow-y: scroll;
        tr {
          display: flex;
          padding: 0.75rem 1.5rem;
          box-sizing: border-box;
          align-items: flex-start;
          border-bottom: 1px solid var(--gray-300-outline, #e0e5f2);

          td {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 5rem;
            overflow: hidden;
            padding-right: 2rem;
            box-sizing: border-box;
            color: var(--gray-600---Text-Secondary, #667085);
            text-overflow: ellipsis;
            font-family: $font-family;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;

            .cellEllipsis {
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .details {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              flex: 1 0 0;

              .title {
                color: var(--gray-900-text-primary);
                font-size: 0.875rem;
                font-weight: 500;
                line-height: 1.25rem;
              }

              .summary {
                color: $grey-600;
                @include body-200;
              }
            }
          }
        }
      }
    }
    .footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      height: 5rem;
      width: 100%;
      color: $grey-600;
      padding: 2rem;
      box-sizing: border-box;
      border-radius: 0 0 0.75rem 0.75rem;
      background: $white;
      box-shadow: $shadow-100;
      border-bottom: 1px solid var(--gray-300-outline, #e0e5f2);

      button {
        min-width: 10rem;
      }
    }
  }
}
