@use 'src/app/assets/styles/typography.scss' as *;
@use 'src/app/assets/styles/colors.scss' as *;

.generalBadge {
  display: flex;
  padding: 0.2rem 0.5rem 0.2rem 0.4rem;
  align-items: center;
  border-radius: 1rem;
  background: $gray-blue-50;
  gap: 0.5rem;

  .bullet {
    color: $gray-blue-500;
  }
  .badgeText {
    text-align: center;
    white-space: nowrap;
    font-family: $dm-sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
  }

  &.highRisk {
    background: #fef3f2;
    color: #b42318;

    svg,
    use {
      path {
        stroke: #f04438;
      }
    }
  }
  &.mediumRisk {
    background: #fffaeb;
    color: #b54708;

    svg,
    use {
      path {
        stroke: #f79009;
      }
    }
  }
  &.lowRisk {
    background: #ecfdf3;
    color: #027a48;

    svg,
    use {
      path {
        stroke: #12b76a;
      }
    }
  }
}
