@use '~colors.scss' as *;
@use '~typography.scss' as *;
@use '~variables.scss' as *;

.container {
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  background: $grey-blue-50;
}
