@use '~colors.scss' as *;
@use '~typography.scss' as *;
@use '~variables.scss' as *;

.container {
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  background: $grey-blue-50;
  width: 100vw;
  min-height: 100vh;

  overflow: hidden;

  .content {
    margin-left: $nav-drawer-width;
    min-height: 100vh;
    overflow: auto;
  }
}
